# packages in environment at /opt/anaconda3/envs/FinRL:
#
# Name                    Version                   Build  Channel
absl-py                   0.12.0                   pypi_0    pypi
appnope                   0.1.2           py36hecd8cb5_1001  
atari-py                  0.2.6                    pypi_0    pypi
attrs                     20.3.0                   pypi_0    pypi
backcall                  0.2.0              pyhd3eb1b0_0  
ca-certificates           2021.1.19            hecd8cb5_1  
cachetools                4.2.1                    pypi_0    pypi
certifi                   2020.12.5        py36hecd8cb5_0  
chardet                   4.0.0                    pypi_0    pypi
cloudpickle               1.6.0                    pypi_0    pypi
cycler                    0.10.0                   pypi_0    pypi
dataclasses               0.8                      pypi_0    pypi
decorator                 4.4.2              pyhd3eb1b0_0  
empyrical                 0.5.5                    pypi_0    pypi
future                    0.18.2                   pypi_0    pypi
google-auth               1.28.0                   pypi_0    pypi
google-auth-oauthlib      0.4.3                    pypi_0    pypi
grpcio                    1.36.1                   pypi_0    pypi
gym                       0.18.0                   pypi_0    pypi
idna                      2.10                     pypi_0    pypi
importlib-metadata        3.7.3                    pypi_0    pypi
iniconfig                 1.1.1                    pypi_0    pypi
int-date                  0.1.8                    pypi_0    pypi
ipykernel                 5.3.4            py36h5ca1d4c_0  
ipython                   7.16.1           py36h5ca1d4c_0  
ipython_genutils          0.2.0              pyhd3eb1b0_1  
jedi                      0.17.0                   py36_0  
joblib                    1.0.1                    pypi_0    pypi
jupyter_client            6.1.7                      py_0  
jupyter_core              4.7.1            py36hecd8cb5_0  
kiwisolver                1.3.1                    pypi_0    pypi
libcxx                    10.0.0                        1  
libffi                    3.3                  hb1e8313_2  
libsodium                 1.0.18               h1de35cc_0  
lxml                      4.6.3                    pypi_0    pypi
markdown                  3.3.4                    pypi_0    pypi
matplotlib                3.3.4                    pypi_0    pypi
multitasking              0.0.9                    pypi_0    pypi
ncurses                   6.2                  h0a44026_1  
numpy                     1.19.5                   pypi_0    pypi
oauthlib                  3.1.0                    pypi_0    pypi
opencv-python             4.5.1.48                 pypi_0    pypi
openssl                   1.1.1j               h9ed2024_0  
packaging                 20.9                     pypi_0    pypi
pandas                    1.1.5                    pypi_0    pypi
pandas-datareader         0.9.0                    pypi_0    pypi
parso                     0.8.1              pyhd3eb1b0_0  
pexpect                   4.8.0              pyhd3eb1b0_3  
pickleshare               0.7.5           pyhd3eb1b0_1003  
pillow                    7.2.0                    pypi_0    pypi
pip                       21.0.1           py36hecd8cb5_0  
pluggy                    0.13.1                   pypi_0    pypi
prompt-toolkit            3.0.17             pyh06a4308_0  
protobuf                  3.15.6                   pypi_0    pypi
psutil                    5.8.0                    pypi_0    pypi
ptyprocess                0.7.0              pyhd3eb1b0_2  
py                        1.10.0                   pypi_0    pypi
pyasn1                    0.4.8                    pypi_0    pypi
pyasn1-modules            0.2.8                    pypi_0    pypi
pyfolio                   0.9.2                    pypi_0    pypi
pyglet                    1.5.0                    pypi_0    pypi
pygments                  2.8.1              pyhd3eb1b0_0  
pyparsing                 2.4.7                    pypi_0    pypi
pytest                    6.2.2                    pypi_0    pypi
python                    3.6.13               h88f2d9e_0  
python-dateutil           2.8.1              pyhd3eb1b0_0  
pytz                      2021.1                   pypi_0    pypi
pyzmq                     20.0.0           py36h23ab428_1  
readline                  8.1                  h9ed2024_0  
requests                  2.25.1                   pypi_0    pypi
requests-oauthlib         1.3.0                    pypi_0    pypi
rsa                       4.7.2                    pypi_0    pypi
scikit-learn              0.24.1                   pypi_0    pypi
scipy                     1.5.4                    pypi_0    pypi
seaborn                   0.11.1                   pypi_0    pypi
setuptools                52.0.0           py36hecd8cb5_0  
six                       1.15.0           py36hecd8cb5_0  
sqlite                    3.35.2               hce871da_0  
stable-baselines3         1.0                      pypi_0    pypi
stockstats                0.3.2                    pypi_0    pypi
tensorboard               2.4.1                    pypi_0    pypi
tensorboard-plugin-wit    1.8.0                    pypi_0    pypi
threadpoolctl             2.1.0                    pypi_0    pypi
tk                        8.6.10               hb0a8c7a_0  
toml                      0.10.2                   pypi_0    pypi
torch                     1.8.0                    pypi_0    pypi
tornado                   6.1              py36h9ed2024_0  
traitlets                 4.3.3                    py36_0  
typing-extensions         3.7.4.3                  pypi_0    pypi
urllib3                   1.26.4                   pypi_0    pypi
wcwidth                   0.2.5                      py_0  
werkzeug                  1.0.1                    pypi_0    pypi
wheel                     0.36.2             pyhd3eb1b0_0  
xz                        5.2.5                h1de35cc_0  
yfinance                  0.1.59                   pypi_0    pypi
zeromq                    4.3.4                h23ab428_0  
zipp                      3.4.1                    pypi_0    pypi
zlib                      1.2.11               h1de35cc_3  
